/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*class selectors */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* element.class selectors */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*class selector of element of header class*/
.header h1 .seo {
    color: #d9dcd6;
}
/*element.class selectos*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*element of element.class selectors*/

.header div ul {
    list-style-type: none;
}
/*sets display to inline*/

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* element a gets color n text-decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*sets p elements font-size*/
p {
    font-size: 16px;
}
/*class selecor*/
.hero {
    background-image: url(../images/digital-marketing-meeting.jpg);
    height: 800px;
    width: 100%;
    margin-bottom: 25px;

    background-size: cover;
    background-position: center;
}

/*class seletor,specifies how box should be floated*/

.float-left {
    float: left;
    margin-right: 25px;
}
/*class seletor,specifies how box should be floated*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*class seletor,sets display inline*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*class seletor*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*class seletor*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*class seletor*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*class seletor*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*element.class selector*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*element.class selector sets margin_bottom ,text_align to center*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*element.class selector sets margin_bottom ,text_align to center*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*element.class selector sets img element's margin,max_width and display to block */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*element.class selector sets img element's margin,max_width and display to block */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*element.class selector sets img element's margin,max_width and display to block */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* class selector  */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* class selector  */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* class selector  */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* element. class selector  sets height  of img to 200px */
.search-engine-optimization img {
    max-height: 200px;
}
/* element. class selector  sets height  of img to 200px */
.online-reputation-management img {
    max-height: 200px;
}
/* element. class selector  sets height  of img to 200px */
.social-media-marketing img {
    max-height: 200px;
}
/*element .class selector sets font-size and margin-bottom*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*element .class selector sets font-size and margin-bottom*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*class selector sets margin-bottom  and font-size*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


  

.content.search-engine-optimization figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


mark{
    background-color: lightgray;
}








/*class selector sets place clear on both sides of element  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*sets font size of 20px to h2 element of footer class */
.footer h2 {
    font-size: 20px;
}
